        <li class="page-list-item">
            <a href="{{ "/複製フォーク" | relative_url }}">{{"複製フォーク" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ReplicatorMapping" | relative_url }}">{{"ReplicatorMapping" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ReplicationGenesとその見つけ方" | relative_url }}">{{"ReplicationGenesとその見つけ方" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Originを見つける3つのassay" | relative_url }}">{{"Originを見つける3つのassay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/DNAポリメラーゼの活動の計測" | relative_url }}">{{"DNAポリメラーゼの活動の計測" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Assays" | relative_url }}">{{"Assays" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/細胞分裂の復習" | relative_url }}">{{"細胞分裂の復習" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/RecombinationalRepair" | relative_url }}">{{"RecombinationalRepair" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/DSBsの概要とNHEJ" | relative_url }}">{{"DSBsの概要とNHEJ" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Baseが損傷したDNAの修復" | relative_url }}">{{"Baseが損傷したDNAの修復" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/DNAの損傷" | relative_url }}">{{"DNAの損傷" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/MismatchRepairのassay" | relative_url }}">{{"MismatchRepairのassay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/MismatchRepairのメカニズム" | relative_url }}">{{"MismatchRepairのメカニズム" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/MismatchRepairの概要" | relative_url }}">{{"MismatchRepairの概要" | escape}}</a>
        </li>
