        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/その他のRNADecay" | relative_url }}">{{"その他のRNADecay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/EukaryoteのmRNADecay" | relative_url }}">{{"EukaryoteのmRNADecay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/EukaryoticTranslationalRegulation" | relative_url }}">{{"EukaryoticTranslationalRegulation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/バクテリアにおけるTranslationのRegulation" | relative_url }}">{{"バクテリアにおけるTranslationのRegulation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/EukaryoticTranscriptionTermination" | relative_url }}">{{"EukaryoticTranscriptionTermination" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/バクテリアのmRNADecay" | relative_url }}">{{"バクテリアのmRNADecay" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/RNATurnover入門" | relative_url }}">{{"RNATurnover入門" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/SplicingRegulation" | relative_url }}">{{"SplicingRegulation" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/EukaryoticTranscriptionのDNABindingRegulators" | relative_url }}">{{"EukaryoticTranscriptionのDNABindingRegulators" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/Assays" | relative_url }}">{{"Assays" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/AlternativeSplicing" | relative_url }}">{{"AlternativeSplicing" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/SplicingProofreading" | relative_url }}">{{"SplicingProofreading" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/premRNAのsplicing" | relative_url }}">{{"premRNAのsplicing" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/SelfSplicingIntrons" | relative_url }}">{{"SelfSplicingIntrons" | escape}}</a>
        </li>
