        <li class="page-list-item">
            <a href="{{ "/Home" | relative_url }}">{{"Home" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/DNAポリメラーゼの活動の計測" | relative_url }}">{{"DNAポリメラーゼの活動の計測" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ゲノムのオーダー" | relative_url }}">{{"ゲノムのオーダー" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/ヌクレオチド" | relative_url }}">{{"ヌクレオチド" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/DNAポリメラーゼ" | relative_url }}">{{"DNAポリメラーゼ" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/DNAの構造" | relative_url }}">{{"DNAの構造" | escape}}</a>
        </li>
        <li class="page-list-item">
            <a href="{{ "/イントロダクション" | relative_url }}">{{"イントロダクション" | escape}}</a>
        </li>
